@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/*  font-size: 1.5rem;
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal; */

/* logo */
#logoandquote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(
    to top,
    rgb(117, 187, 201),
    rgb(232, 193, 163, 0)
  );
}
#logo {
  height: 17vh;
  width: 17vh;
  object-fit: contain;
  border-radius: 5rem;
  display: none;
}
/* random quotes  */
#quoteApi {
  display: flex;
  flex-direction: column;
  height: 17vh;
  width: 60vh;
  background-blend-mode: hue;
  color: black;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem;
  border-radius: 5rem;
  font-family: "Quintessential", serif;
  font-size: 1rem;
  display: none;
}
#quoteApi h2 {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
}
#quoteApi h4 {
  font-family: cursive;
}

/* part1ImageDiv */
#part1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 83vh;
  margin: auto;
  background-image: linear-gradient(
    180deg,
    rgb(117, 187, 201),
    rgb(232, 193, 163, 0)
  );
}

.part1ImageDiv {
  height: 60vh;
  width: 40vh;
  border-radius: 3rem;
  object-fit: contain;
}
.part1TitleDiv {
  height: 60vh;
  width: 40vh;
  border-radius: 3rem;
  font-size: 2rem;
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  color: black;
  text-align: center;
}
.part1link {
  text-decoration: none;
  color: rgb(252, 252, 252);
  background-color: rgb(194, 170, 227);
  border-radius: 3rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

/* part2 */
#part2 {
  background-image: linear-gradient(
    to top,
    rgb(117, 201, 198),
    rgb(232, 193, 163, 0)
  );
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  gap: 2rem;
}

.part2aboutdiv {
  height: 80%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.4rem;
  margin: auto;
  border-radius: 3rem;
  background-color: rgb(210, 243, 232);
  padding: 1rem;
  margin-left: 2rem;
}
#part2 h2 {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  color: rgb(144, 128, 189);
}
.part2summarydiv {
  height: 80%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2rem;
  margin: auto;
  border-radius: 3rem;
  background-color: rgb(210, 243, 232);
  padding: 1rem;
  margin-right: 2rem;
}
.part2Link {
  text-decoration: none;
  color: rgb(252, 252, 252);
  background-color: rgb(194, 170, 227);
  border-radius: 3rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

/* part 3 */
#part3 {
  background-image: linear-gradient(
    to bottom,
    rgb(117, 201, 198),
    rgb(232, 193, 163, 0)
  );
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#part3 h2 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  padding: 1.5rem;
  text-decoration: underline;
}

.books {
  display: flex;
  flex-direction: row;
  height: 60vh;
  width: 100%;
  margin: auto;
  border-radius: 2rem;
  object-fit: fill;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  margin-top: 2rem;
}
.booksImg {
  display: block;
  height: 50vh;
  width: 40vh;
  object-fit: contain;
}

.part3Link {
  text-decoration: none;
  color: rgb(252, 252, 252);
  background-color: rgb(194, 170, 227);
  border-radius: 3rem;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
  text-transform: uppercase;
  float: right;
}

/* part4 */
#part4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80vh;
  align-items: center;
}
#part4 div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgb(73, 72, 72);
  height: 70vh;
  width: 60vh;
  border-radius: 2rem;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem;
  background-image: linear-gradient(#a5d7e1, #afe3da);
}
#part4 h1 {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  text-transform: uppercase;
}

#part4 a {
  color: rgb(240, 97, 121);
  text-decoration: none;
}
#part4 a:hover {
  color: rgb(145, 119, 185);
}

@media (max-width: 600px) {
  #quoteApi {
    height: 25vh;
    font-size: 1.3rem;
    margin: auto;
    text-align: center;
  }
  #logoandquote {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-image: linear-gradient(
      to top,
      rgb(117, 187, 201),
      rgb(232, 193, 163, 0)
    );
  }

  #part1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    height: 160vh;
  }

  .part1ImageDiv {
    height: 100vh;
    width: 70%;
    margin: auto;
    object-fit: contain;
    padding: auto;
  }
  .part1ImageDiv img {
    object-fit: scale-down;
  }
  .part1TitleDiv {
    border-radius: 3rem;
    margin: auto;
    font-size: 1.4rem;
    text-align: center;
  }

  /* part2 */
  #part2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 140vh;
  }
  .part2aboutdiv {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    padding: 1rem;
    margin: auto;
  }
  .part2summarydiv {
    height: 120%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    padding: 1rem;
    margin: auto;
  }
  #part3 {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #part3 h2 {
    padding: 1rem;
  }
  .books {
    gap: 1rem;
    margin-top: 0;
    margin: auto;
    height: 130vh;
  }
  .booksImg {
    display: block;
    height: 40vh;
    width: 30vh;
    object-fit: contain;
    margin: auto;
  }
  #part4 {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: auto;
    height: 100vh;
    align-items: center;
    gap: 2rem;
  }
}
