@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/*  font-size: 1.5rem;
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal; */

#part1 {
  width: 100%;
  height: 83vh;
  margin: auto;
  /* background-image: url(./canvaImage.png);
  background-repeat: no-repeat;
  background-size: cover; */
  background-image: linear-gradient(
    180deg,
    rgb(117, 187, 201),
    rgb(232, 193, 163, 0)
  );
}
#part2 {
  background-image: linear-gradient(
    to top,
    rgb(117, 201, 198),
    rgb(232, 193, 163, 0)
  );
  width: 100%;
  height: 100vh;
  margin: auto;
}
#part3 {
  background-image: linear-gradient(
    to bottom,
    rgb(117, 201, 198),
    rgb(232, 193, 163, 0)
  );
  width: 100%;
  height: 100vh;
  margin: auto;
}

/* logo */
#logoandquote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(
    to top,
    rgb(117, 187, 201),
    rgb(232, 193, 163, 0)
  );
}
#logo {
  height: 17vh;
  width: 17vh;
  object-fit: contain;
  border-radius: 5rem;
  display: none;
}
/* random quotes  */
#quoteApi {
  display: flex;
  flex-direction: column;
  height: 17vh;
  width: 60vh;
  background-blend-mode: hue;
  color: black;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem;
  border-radius: 5rem;
  font-family: "Quintessential", serif;
  font-size: 1rem;
  display: none;
}
#quoteApi h2 {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
}
#quoteApi h4 {
  font-family: cursive;
}
@media (max-width: 600px) {
  #quoteApi {
    height: 14vh;
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
  }
  #part1 img {
    height: 10vh;
    object-fit: contain;
    border-radius: 8rem;
    margin: auto;
  }
  #logoandquote {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: linear-gradient(
      to top,
      rgb(117, 187, 201),
      rgb(232, 193, 163, 0)
    );
  }

  #part1 {
    width: 100%;
    height: 100vh;
    margin: auto;
    /* background-image: url(./canvaImageSmall.png);
    background-repeat: no-repeat;
    background-size: contain; */
    background-image: linear-gradient(
      180deg,
      rgb(117, 187, 201),
      rgb(232, 193, 163, 0)
    );
    /* background-position: right bottom; */
  }
}
